body {
  font-family: 'Barlow Condensed', sans-serif;
  overflow-x: hidden;
}
section {
  max-width: 1500px;
  margin: 0 auto;
  padding: 50px 80px;
  background-attachment: fixed;
}
@media screen and (max-width: 600px) {
  section {
    padding: 20px;
  }
}
footer {
  margin: 0 auto;
  padding: 50px 80px;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 32px !important;
  }
  h2 {
    font-size: 30px;
  }
}
h1 {
  font-size: 100px;
  font-weight: 300;
}
h2 {
  font-size: 90px;
  font-weight: 300;
}
h3 {
  font-size: 24px;
  font-weight: 300;
}
h4 {
  font-size: 40px;
  font-weight: 300;
}
p {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 300;
}
strong {
  font-weight: 400;
}
#header {
  background: linear-gradient(90deg, white 50%, #f4ca37 50%);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  margin: 0 auto;
  height: 100vh;
}
#header .apresentation {
  z-index: 1;
  color: white;
  position: fixed;
  top: 200px;
  right: 50px;
  margin: 0  auto;
  font-weight: bold;
  text-align: right;
}
#header h1 {
  color: white;
}
#header h2 {
  color: black;
  font-size: 40px;
}
@media screen and (max-width: 600px) {
  #header .apresentation {
    position: absolute;
  }
}
#line {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: auto;
}
#line .perspective-text {
  color: white;
  font-family: Arial;
  font-size: 58px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
}
#line .perspective-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}
#line p {
  margin: 0 10px;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
}
#line .perspective-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}
#line .perspective-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.337);
}
#line .perspective-text:hover p {
  transform: translate(0, -50px);
}
#line .perspective-line:nth-child(1) {
  left: 29px;
}
#line .perspective-line:nth-child(2) {
  left: 58px;
  background: #E6B9B7;
}
#line .perspective-line:nth-child(3) {
  left: 87px;
  background: #F4CA37;
}
#line .perspective-line:nth-child(4) {
  left: 116px;
  background: #E6B9B7;
}
#line .perspective-line:nth-child(5) {
  left: 145px;
}
@media screen and (max-width: 600px) {
  #line {
    margin-left: -105px;
  }
}
#about {
  z-index: 2;
  background: linear-gradient(90deg, #f4ca37 50%, #fff 30%);
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
}
#about .about-text {
  line-height: 1.2;
  font-weight: bold;
  width: 46%;
}
#about .about-text h2 {
  color: white;
  margin-bottom: 30px;
}
#about .about-text p {
  color: white;
}
#about .about-text a {
  color: white;
  font-weight: 500;
}
#about .about-text a:hover {
  color: black;
}
@media screen and (max-width: 600px) {
  #about {
    background: #f4ca37;
    height: auto;
  }
  #about .about-text {
    width: 100%;
  }
}
#portfolio {
  z-index: 2;
  background-color: black;
  color: white;
}
#portfolio h2 {
  text-align: left;
  color: #E6B9B7;
  margin-bottom: 100px;
}
#portfolio p {
  font-size: 16px;
}
@media screen and (max-width: 600px) {
}
#portfolio .portfolio-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
#portfolio .portfolio-content .slick-slider {
  width: 800px;
}
#portfolio .portfolio-content .slick-slider .slick-slide {
  padding: 40px;
}
#portfolio .portfolio-content .slick-slider .slick-slide a {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}
#portfolio .portfolio-content .slick-slider .slick-slide a img {
  width: 300px;
}
#portfolio .portfolio-content .slick-slider .slick-slide a > div {
  width: 300px;
  color: white;
}
#portfolio .portfolio-content .slick-slider .slick-slide a > div .descricao {
  font-size: 24px;
}
#portfolio .portfolio-content .slick-slider .slick-slide a > div .h4 {
  margin-bottom: 50px;
}
#portfolio .portfolio-content .slick-slider .slick-slide:hover {
  border-color: darkgray;
}
#portfolio .portfolio-content .slick-slider .slick-slide:hover a img {
  box-shadow: 4px 2px 2px darkgray;
}
#portfolio .portfolio-content .slick-slider .slick-slide:hover a > div {
  color: darkgray;
}
@media screen and (max-width: 600px) {
  #portfolio .portfolio-content .slick-slider {
    width: 260px;
  }
  #portfolio .portfolio-content .slick-slider .slick-slide {
    padding: 5px;
  }
  #portfolio .portfolio-content .slick-slider .slick-slide a {
    flex-direction: column;
    align-items: center;
  }
  #portfolio .portfolio-content .slick-slider .slick-slide a img {
    width: 250px;
    margin-bottom: 20px;
  }
  #portfolio .portfolio-content .slick-slider .slick-slide a > div {
    width: 250px;
  }
}
#portfolio .portfolio-content h3 {
  color: white;
  margin-bottom: 20px;
}
.placard {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
}
.placard .placard-title {
  display: flex;
  color: red;
  white-space: nowrap;
  font-size: 30px;
  position: absolute;
  left: 0;
  color: #F4CA37;
}
.placard h2 {
  margin-right: 20px;
}
.placard h2:nth-of-type(2n) {
  color: #E6B9B8;
}
#portfolio-grid h2 {
  margin-bottom: 50px;
  color: #E6B9B7;
}
#portfolio-grid > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: flex-start;
}
#portfolio-grid > div .items {
  border: 3px solid black;
  position: relative;
  width: 30%;
  max-height: 255px;
  margin: 5px;
}
#portfolio-grid > div .items img {
  width: 100%;
  max-height: 255px;
}
#portfolio-grid > div .items .item-hover {
  padding: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  color: white;
  background: #f4ca37;
  background-position: right;
  background-size: cover;
  opacity: 0;
}
#portfolio-grid > div .items h4 {
  margin-bottom: 30px;
  font-weight: 500;
}
#portfolio-grid > div .items:hover .item-hover {
  opacity: 1;
  transition: opacity 0.4s;
}
@media screen and (max-width: 600px) {
  #portfolio-grid > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #portfolio-grid > div .items {
    width: 90%;
  }
}
footer {
  margin-top: 50px;
  border-top: 3px #f4ca37 solid;
  position: relative;
  background-color: #f4ca37;
  display: flex;
  flex-direction: column;
}
footer h2 {
  color: white;
  margin-bottom: 40px;
}
footer .email {
  margin-bottom: 30px;
  color: white;
}
footer a img {
  width: 30px;
}
.scene {
  position: relative;
  background-position: center;
  cursor: none;
}
.scene:hover .magic {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: #E6B9B7;
  background-size: cover;
  border-radius: 50%;
  cursor: none;
}
