body {
  font-family: 'Barlow Condensed', sans-serif;
}
section {
  max-width: 1500px;
  margin: 0 auto;
  padding: 50px 80px;
  background-attachment: fixed;
}
@media screen and (max-width: 600px) {
  section {
    padding: 20px;
  }
}
footer {
  max-width: 1500px;
  margin: 0 auto;
  padding: 50px 80px;
}
h1 {
  font-size: 100px;
  font-weight: 300;
}
h2 {
  font-size: 90px;
  font-weight: 300;
}
p {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 300;
}
strong {
  font-weight: 400;
}
#header {
  background-image: url("../resources/rock.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  max-width: 1500px;
  height: 100vh;
  padding-right: 80px;
}
#header .apresentation {
  z-index: 1;
  color: white;
  position: fixed;
  top: 200px;
  right: 50px;
  margin: 0  auto;
  font-weight: bold;
  text-align: right;
}
#header h1 {
  color: white;
}
#header h2 {
  color: darkgray;
  font-size: 40px;
}
@media screen and (max-width: 600px) {
  #header .apresentation {
    position: absolute;
  }
}
#about {
  z-index: 2;
  background-image: url("../resources/triangulo-rosa.jpg");
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
  height: 100vh;
}
#about .about-text {
  line-height: 1.2;
  font-weight: bold;
  width: 50%;
}
#about .about-text h2 {
  color: gray;
  margin-bottom: 30px;
}
#about .about-text p {
  color: darkgray;
}
@media screen and (max-width: 600px) {
  #about {
    height: auto;
  }
  #about .about-text {
    width: 100%;
  }
}
#portfolio {
  z-index: 2;
  background-color: black;
  color: white;
  overflow-y: scroll;
}
#portfolio h2 {
  text-align: left;
  color: white;
  margin-bottom: 100px;
}
#portfolio p {
  font-size: 16px;
}
@media screen and (max-width: 600px) {
}
#portfolio .portfolio-content h3 {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
  font-weight: 300;
}
#portfolio .portfolio-content > div {
  display: flex;
  flex-direction: row;
}
#portfolio .portfolio-content > div .carta {
  margin: 50px 100px 50px 0;
}
#portfolio .portfolio-content > div .carta a {
  display: block;
  text-decoration: none;
}
#portfolio .portfolio-content > div .carta a:hover .texto {
  color: white;
}
#portfolio .portfolio-content > div .carta:last-child {
  padding-right: 100px;
}
#portfolio .portfolio-content > div .carta .verso {
  height: 320px;
}
#portfolio .portfolio-content > div .carta .texto {
  font-weight: bold;
  color: black;
  text-align: center;
}
footer {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
}
footer h2 {
  margin-bottom: 40px;
}
footer .email {
  margin-bottom: 30px;
  color: black;
}
footer a img {
  width: 30px;
}
