@amarelo: #ffde59;
@amarelo-escuro: #d6b42a;
@cinza: #54534e;
body {
	font-family: 'Barlow Condensed', sans-serif;
}

section {
	max-width: 1500px;
	margin: 0 auto;
	padding: 50px 80px;
	background-attachment: fixed;
	@media screen and (max-width: 600px) {
		padding: 20px;
	}
}

footer {
	// max-width: 1500px;
	margin: 0 auto;
	padding: 50px 80px;	
}

h1 {
	font-size: 100px;
	font-weight: 300;
}

h2 {
	font-size: 90px;
	font-weight: 300;
}

h3 {
	font-size: 24px;
	font-weight: 300;
}

h4 {
	font-size: 40px;
	font-weight: 300;
}

p {
	font-size: 24px;
	margin-bottom: 10px;
	font-weight: 300;
}

strong {
	font-weight: 400;
}
#header {
	background-image: url("../resources/rock.jpg");
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	// max-width: 1500px;
	margin: 0 auto;
	height: 100vh;
	// padding-right: 80px;


	.apresentation {
		z-index: 1;
		color: white;
		position: fixed;
		top: 200px;
		right: 50px;
		margin: 0  auto;
		font-weight: bold;
		text-align: right;
	}

	h1 {
		color: white;
	}
	h2 {
		color: darkgray;
		font-size: 40px;
	}


	@media screen and (max-width: 600px) {
		.apresentation {
			position: absolute;
		}
	}
}
#about {
	z-index: 2;
	background-image: url("../resources/triangulo-rosa.jpg");
	background-size: contain;
	background-position: top right;
	background-repeat: no-repeat;
	// height: 100vh;

	.about-text {
		line-height: 1.2;
		font-weight: bold;
		width: 50%;

		h2 {
			color: gray;
			margin-bottom: 30px;
		}

		p {
			color: darkgray;
		}
		a {
			color: white;
			background-color: darkgray;
		}
	}
	@media screen and (max-width: 600px) {
		height: auto;
	 	.about-text {
	    width: 100%;
  	}
	}
}

#portfolio {
	z-index: 2;
	background-color: black;
	color: white;
	// overflow-y: scroll;

	h2 {
		text-align: left;
		color: white;
		margin-bottom: 100px;
	}
	p {
		font-size: 16px;
		// width: 30%;
		@media screen and (max-width: 600px) {
			// width: 100%;
		}
	}
	.portfolio-content {
		margin: 0 auto;
    display: flex;
    justify-content: space-around;

		.slick-slider {
			width: 800px;

			.slick-slide {
				// border: 1px solid white;
				padding: 40px;
				a {
				display: flex;
				justify-content: space-around;
				text-decoration: none;

					img {
						width: 300px;
					}

					> div {
						width: 300px;
						color: white;
						.descricao	{
							font-size: 24px;
						}
						.h4 {
							margin-bottom: 50px;
						}
					}
				}
				&:hover {
					border-color: darkgray;
					a {
						img {
							box-shadow: 4px 2px 2px darkgray;
						}
						> div {
							color:darkgray;
						}
					}
				}
			}
			@media screen and (max-width: 600px) {
				width: 260px;
				.slick-slide {
					padding: 5px;
					a {
						flex-direction: column;
						align-items: center;
						img {
							width: 250px;
							margin-bottom: 20px;
						}
						> div {
							width: 250px;
						}
					}
				}
			}
		}
		h3 {
			color: white;
			margin-bottom: 20px;
		}


		// código para casa decida colocr as imagens da carta
		// .frente_1 {
		// 	background-image: url('../resources/lagarto.jpg');
		// }
		// .frente_2 {
		// 	background-image: url('../resources/mosca.jpg');
		// }
		// .frente_3 {
		// 	background-image: url('../resources/formiga.jpg');
		// }
		// .frente_4 {
		// 	background-image: url('../resources/deserto.jpg');
		// }
		// .frente_5 {
		// 	background-image: url('../resources/rocha.jpg');
		// }
		// .frente_6 {
		// 	background-image: url('../resources/vulcao.jpg');
		// }
		// .frente_7 {
		// 	background-image: url('../resources/mosca-2.jpg');
		// }
		// .frente_8 {
		// 	background-image: url('../resources/rock-2.jpg');
		// }
		
	}
}

#portfolio-grid {
	h2 {
		margin-bottom: 50px;
	}
	> div {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		// background-color: black;
		align-items: baseline;
		align-content: flex-start;
		.items {
			position: relative;
			width: 350px;
			margin: 5px;
			img {
				width: 350px;	
				height: 350px;
			}
			.item-hover {
				// display: none;
				padding: 20px;
				// display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				color: white;
				background-image: url('../resources/rocha-rosa-2.png');
				background-position: right;
				background-size: cover;
				// background: linear-gradient(#e66465, #9198e5);
				opacity: 0;
				// color: transparent;
				// background-color: transparent;
			}
			h4 {
				margin-bottom: 30px;
				font-weight: 500;
			}
		}
		.items:hover {
			.item-hover {
				// color: white;
				// background: linear-gradient(#e66465, #9198e5);
				// transition: color 2s;
				opacity: 1;
				transition: opacity 0.4s;
			}
		}
	}
}
footer {
	background-color: lightgrey;
	display: flex;
	flex-direction: column;

	h2 {
		margin-bottom: 40px;
	}
	.email {
		margin-bottom: 30px;
		color: black;
	}
	a {
		img {
			width: 30px;
		}
	}
}

