@amarelo: #ffde59;
@amarelo-escuro: #d6b42a;
@cinza: #54534e;
body {
	font-family: 'Barlow Condensed', sans-serif;
	overflow-x: hidden;
}

section {
	max-width: 1500px;
	margin: 0 auto;
	padding: 50px 80px;
	background-attachment: fixed;
	@media screen and (max-width: 600px) {
		padding: 20px;
	}
}

footer {
	// max-width: 1500px;
	margin: 0 auto;
	padding: 50px 80px;	
}

h1 {
	font-size: 100px;
	font-weight: 300;
}

h2 {
	font-size: 90px;
	font-weight: 300;
}

h3 {
	font-size: 24px;
	font-weight: 300;
}

h4 {
	font-size: 40px;
	font-weight: 300;
}

p {
	font-size: 24px;
	margin-bottom: 10px;
	font-weight: 300;
}

strong {
	font-weight: 400;
}
#header {
 	background: linear-gradient(90deg, white 50%,  #f4ca37 50%);
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	// max-width: 1500px;
	margin: 0 auto;
	height: 100vh;
	// padding-right: 80px;


	.apresentation {
		z-index: 1;
		color: white;
		position: fixed;
		top: 200px;
		right: 50px;
		margin: 0  auto;
		font-weight: bold;
		text-align: right;
	}

	h1 {
		color: white;
	}
	h2 {
		color: black;
		font-size: 40px;
	}


	@media screen and (max-width: 600px) {
		.apresentation {
			position: absolute;
		}
	}
}
#line {
	// background: linear-gradient(90deg, #E6B9B7 50%, #fff 30%);
	// border: solid 1px black;
	display: flex;
	align-items: center;
	justify-content: center;
	// background: #f1f1f1;
	overflow: hidden;
	margin-left: auto;
	// margin-top: 250px;
	.perspective-text {
	  color: white;
	  font-family: Arial;
	  font-size: 58px;
	  font-weight: 900;
	  letter-spacing: -2px;
	  text-transform: uppercase;
	}

	.perspective-line {
	  height: 50px;
	  overflow: hidden;
	  position: relative;
	}

	p {
	  margin: 0 10px;
	  height: 50px;
	  line-height: 50px;
	  transition: all 0.5s ease-in-out;
	}

	.perspective-line:nth-child(odd) {
	  transform: skew(60deg, -30deg) scaleY(0.667);
	}

	.perspective-line:nth-child(even) {
	  transform: skew(0deg, -30deg) scaleY(1.337);
	}

	.perspective-text:hover p {
	  transform: translate(0, -50px);
	}

	.perspective-line:nth-child(1) {
	  left: 29px;
	}

	.perspective-line:nth-child(2) {
	  left: 58px;
	  background: #E6B9B7;
	}

	.perspective-line:nth-child(3) {
	  left: 87px;
	  background: #F4CA37;
	}

	.perspective-line:nth-child(4) {
	  left: 116px;
	  background: #E6B9B7;
	}

	.perspective-line:nth-child(5) {
	  left: 145px;
	}
}
#about {
	z-index: 2;
	background: linear-gradient(90deg, #f4ca37 50%, #fff 30%);
	// background-image: url("../resources/triangulo-rosa.jpg");
	background-size: contain;
	background-position: top right;
	background-repeat: no-repeat;
	// height: 100vh;

	.about-text {
		line-height: 1.2;
		font-weight: bold;
		width: 46%;
		h2 {
			color: white;
			margin-bottom: 30px;
		}

		p {
			color: white;
		}
		a {
			color: white;
			font-weight: 500;
		}
		a:hover {
			color: black;
		}
	}
	@media screen and (max-width: 600px) {
		height: auto;
	 	.about-text {
	    width: 100%;
  	}
	}
}

#portfolio {
	z-index: 2;
	background-color: black;
	color: white;
	// overflow-y: scroll;

	h2 {
		text-align: left;
		color: #E6B9B7;
		margin-bottom: 100px;
	}
	p {
		font-size: 16px;
		// width: 30%;
		@media screen and (max-width: 600px) {
			// width: 100%;
		}
	}
	.portfolio-content {
		margin: 0 auto;
    display: flex;
    justify-content: space-around;

		.slick-slider {
			width: 800px;

			.slick-slide {
				// border: 1px solid white;
				padding: 40px;
				a {
				display: flex;
				justify-content: space-around;
				text-decoration: none;

					img {
						width: 300px;
					}

					> div {
						width: 300px;
						color: white;
						.descricao	{
							font-size: 24px;
						}
						.h4 {
							margin-bottom: 50px;
						}
					}
				}
				&:hover {
					border-color: darkgray;
					a {
						img {
							box-shadow: 4px 2px 2px darkgray;
						}
						> div {
							color:darkgray;
						}
					}
				}
			}
			@media screen and (max-width: 600px) {
				width: 260px;
				.slick-slide {
					padding: 5px;
					a {
						flex-direction: column;
						align-items: center;
						img {
							width: 250px;
							margin-bottom: 20px;
						}
						> div {
							width: 250px;
						}
					}
				}
			}
		}
		h3 {
			color: white;
			margin-bottom: 20px;
		}


		// código para casa decida colocr as imagens da carta
		// .frente_1 {
		// 	background-image: url('../resources/lagarto.jpg');
		// }
		// .frente_2 {
		// 	background-image: url('../resources/mosca.jpg');
		// }
		// .frente_3 {
		// 	background-image: url('../resources/formiga.jpg');
		// }
		// .frente_4 {
		// 	background-image: url('../resources/deserto.jpg');
		// }
		// .frente_5 {
		// 	background-image: url('../resources/rocha.jpg');
		// }
		// .frente_6 {
		// 	background-image: url('../resources/vulcao.jpg');
		// }
		// .frente_7 {
		// 	background-image: url('../resources/mosca-2.jpg');
		// }
		// .frente_8 {
		// 	background-image: url('../resources/rock-2.jpg');
		// }
		
	}
}
.placard {
	margin-top: 50px;
	margin-bottom: 100px;
  display: flex;
  .placard-title{
  	display: flex;
    color: red;
    white-space: nowrap;
    font-size: 30px;
    position: absolute;
    left: 0;
    color: #F4CA37;
  }
  h2{
  	margin-right: 20px;
  }
  h2:nth-of-type(2n) {
  	color: #E6B9B8;
  }
}

#portfolio-grid {
	h2 {
		margin-bottom: 50px;
		color: #E6B9B7;
	}
	> div {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		// background-color: black;
		align-items: baseline;
		align-content: flex-start;
		.items {
			border: 3px solid black;
			position: relative;
			width: 30%;
			max-height: 327px;
			margin: 5px;
			img {
				width: 100%;	
				max-height: 327px;
			}
			.item-hover {
				// display: none;
				padding: 20px;
				// display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				color: white;
				background: #f4ca37;
				background-position: right;
				background-size: cover;
				// background: linear-gradient(#e66465, #9198e5);
				opacity: 0;
				// color: transparent;
				// background-color: transparent;
			}
			h4 {
				margin-bottom: 30px;
				font-weight: 500;
			}
		}
		.items:hover {
			.item-hover {
				// color: white;
				// background: linear-gradient(#e66465, #9198e5);
				// transition: color 2s;
				opacity: 1;
				transition: opacity 0.4s;
			}
		}
	}
}
footer {
	margin-top: 50px; 
	border-top: 3px #f4ca37 solid;
	position: relative;
	background-color: #f4ca37;
	display: flex;
	flex-direction: column;

	h2 {
		color: white;
		margin-bottom: 40px;
	}
	.email {
		margin-bottom: 30px;
		color: white;
	}
	a {
		img {
			width: 30px;
		}
	}
	// &:hover {
	// 	background-image: url('../resources/rocha-rosa-2.png');
	// 	// border-radius: 50%;
	// 	// position: absolute;
 //   top: 0;
 //   left: 0;
 //   bottom: 0;
 //   // mix-blend-mode: difference;
 //   z-index: 1000;
	// 	// width: 300px;
	// 	// height: 300px;
	// 	  // shape-outside: url('../resources/rocha-rosa-2.png');
	// 	  // shape-margin: 20px;
	// }
}

.scene {
  position: relative;
 	// background-color: lightgrey;
  // width: 100%;
  // height: 100vh;
  background-position: center;
  cursor: none;
}

.scene:hover {
	.magic {
		position: absolute;
		top: 0;
		left: 0;
		width: 50px;
		height: 50px;
		background-color: #E6B9B7;
		background-size: cover;
		border-radius: 50%;
		cursor: none;
	}
}
.magic {

}



